body { 

    background-color: #dee4f1;
    color: /*#44B3C2*/#034f84;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    padding: 5px;

}

header {

    padding: 1px;
    margin-bottom: 1%;

}

h1 {
    background-color: #034f84;
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 3%;

}

h2 {
    color: #505050;
    text-align: center;
    font-size: 30px;
    margin: 0;
}

h3 {color: #034f84;}
h4 {color: #f7786b;}

a {

    color: #034f84;
    text-decoration: none;

}

a:hover {color: #843803;}


table, td, th{
    border: 2px solid;
    border-collapse: collapse;
    border-color: #034f84 ;
    text-align: center;
}



.container {

    margin: 0 auto;
    width: 85%;
    height: 85%;
    max-width: 860px;
    background-color: #dee4f1 ;
    opacity: 0.95;
    padding: 7px;
}

/*  *************************************
    Media Queries
    ************************************* */

@media (max-width: 720px) {
    article{
        display: block;
        width: auto;
        border-right: none;
    }
    figure {
        margin-left: 0px;
        width: 100%;
        text-align: center;
        font-style: italic;
        font-size: smaller;
        text-indent: 0px;
        margin: 0px;
        padding: 0px;
    }
}

@media (max-width: 540px) {
    article,nav {
        padding: 0px;
    }
    nav {position:static;}
}

@media (max-width: 350px) {
    nav li {display: block;}
}